*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}
.header-principal{
    background-color: #292929;
    color: #fff;
    display:flex;
    font-size: 16px;
    font-optical-sizing: auto;
    font-weight: bold;
    
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.header-principal ul{
    display: flex;
    margin: 28px 93px 28px 93px;
    list-style: none;
}

.header-principal ul li{
    margin: 0px 15px 0px 15px;
    border-bottom: #292929 solid 2px;
}

.header-principal ul li:active{
    border-bottom: #FD4956 solid 2px;
}

.header-principal ul li:hover{
    color: #aaa;
}

